.container-fluid {
  height: 100%;
  padding: 10px;
  background-color: #28293D;
  color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
}

.content {
  width: 100%;
  height: 100%;
}

.items {
  list-style: none;
  font-weight: 20px;
}

li {
  font-size: 1.3rem;
  height: 40px;
  border-bottom: 1px solid #555675;
  line-height: 40px;
}

ul, li {
  margin: 0;
  padding: 0;
}

.list-group{
  height: 100%;
  overflow:scroll;
  -webkit-overflow-scrolling: touch;
}
