.container-fluid {
  min-height: 300px;
  padding: 10px;
  margin-top: 15px;
  background-color: #28293D;
  color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
}

.content {
  width: 100%;
  height: 100%;
}

p {
  padding: 0;
  margin: 0;
}
