.header {
  height: 60px;
  background-color: #545675;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 0 20px;
  font-family: 'Abel', sans-serif;

  h1 {
    font-size: 2rem;
  }

  img {
    max-height: 30px;
    filter: brightness(0) invert(1);
    margin-right: 15px;
  }
}

.contents {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
