.container-fluid {
  padding: 10px;
  background-color: #28293D;
  color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  padding: 20px;
  height: 100%;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
}

.recordImage {
  max-width: 400px;
  height: auto;
}

.left {
  flex-basis: 48%;
}

.buttons {
  margin-top: 20px;
}

button {
  margin-right: 10px;
}

.right {
  flex-basis: 48%;
  display: flex;
  flex-direction: column;
}
