/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
}

html, body {
  height: 100%;
  background-color: #13141e !important;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
